<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테스트</title>
</head>
<body>
    <h2>인생의 쓴맛</h2>
    <p> 사과 가격 <%= data %></p>
    <%= if(num) { %>
        <p> 사과 <%= apple %> </p>
    <% } %>
</body>
</html>